 $colorPrincipal:#ec7422;
 $maxwidth:1200px margin-auto;


 .region-header {
     background-image: url(../images/promocion/portada.jpg);
     height: 100vh;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     width: 100%;
     background-size: cover;

     .block_menu {
         background-color: transparent;
         padding:30px 0;

         ul {
             display: flex;
             justify-content: flex-end;

             li {
                 list-style: none;
                 margin-right: 25px;

                 a {
                     text-decoration: none;
                 }
             }

         }

     }
 }